.tabs {
    display: flex;
    align-items: center;
    padding:5px;
    border-radius: 10px;
    margin-bottom: 5px;
}


.tabs button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs button.active {
    background-color: #444;
}

.tabs button:hover {
    background-color: #666;
}
